.login-container {
    background-color: rgb(20, 105, 209);
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 3px solid #35e980;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color:azure;
    h1 {
        text-align: center;
        font-size: 32px;
    }
    h3 {
        text-align: center;
        font-size: 22px;
    }
    label {
        display: block;
        padding:20px;
        font-size: 20px;
    }
    input {
        width: 90%;
        padding: 5px;
        margin-left: 20px;
        font-size: 16px;
    }
    button {
        border-radius: 10px;
        color:black;
        font-size: 20px;
        padding: 10px;
        margin-left: 380px;
        margin-top: -80px;
        background-color: rgb(79, 255, 153);
        border: 2px solid #1e1e1e;
    }
    p {
        margin-left: 20px;
        font-size: 15px;
    }
    a {
        color:rgb(79, 255, 91);
    }
}

form div {
    margin-bottom: 15px;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 16px;
}

