h1{
    margin-left: 2%;
    font-size: 24px;
}
mat-toolbar{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0075cf;
    h1{
        font-size: 24px;
    }
}