.details {
    width: 25%;
    display: flex;
    margin-top: 25px;
    align-items: center;
    border-right: 4px solid rgb(239, 239, 239);
    flex-direction: column;
    h3 {
        font-weight: bold;
        margin-bottom: 20px;
        color: #ffffff;
    }
    h6 {
        width: 100%;
        padding: 25px;
        text-align: justify;
        padding-top: 0;
        padding-bottom: 15px;
    }
}

.img {
    background: transparent;
    margin: auto;
    display: flex;
    flex-direction: column;
    img {
        margin: auto;
        display: flex;
    }
}

.more-detail {
    padding: 10px;
    margin: 10px;
    line-height: 50px;
    .title {
        font-size: 30px;
        font-weight: 600;
        color: #ffffff;
    }
    .value {
        font-size: 30px;
        font-weight: 500;
        color: #ffffff;
    }
}

.btn-custom {
    color: #e5f4ff;
    background: transparent;
    font-weight: 450;
    font-size: 22px;
    border: 5px solid #eff9ff;
    width: 15%;
    margin-top: 2%;
}

.btn-custom:focus {
    background: #1565dd;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #3a75ff;
}

.graph {
    width: 75%;
}
